body{
    color: #96858F;
    background-color: #d5d5d5;
    margin: 10px;
    text-align: center;
    padding-left: 10px;
    padding-right: 50px;
}

h1{
    font-size: 50em;
    color: #96858F;
    font-family: Courier;
}   
    
    /*height: auto;
    width: 50%;
    background-color: #D5D5D5;
    text-align: center;
    border-radius: 25px;
    border: solid black;*/
    
    


h3{
    font-size:30px;
    color: #96858F;
    font-family: Courier;
    /*height: auto;
    width: 50%;
    background-color: #d5d5d5;
    text-align: center;
    border-radius: 25px;
    border: solid black;*/
}

p{
    font-size: 25px;
    color: #96959F;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}
a{
    font-size: 20px;
    text-decoration: none;
    color: #6D7993;
}

a:hover {
    color: red;
    text-decoration: underline;
}


ul{
    color: #6d7993;
    text-align: left;
}   


#excite{
    font-size: 2em;
    color: #6d7993;
}

img {
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
    

}
figcaption{
    color: #96858F;

}
.over{
    margin-left: 500px;
    font-size: 25px;
}

.left{
    float: left;
    margin-right: 150px;

}