body{
    color:red;
    background-color: black;
    margin: 10px;

    padding-left: 10px;
    padding-right: 50px;
}

h1{
    font-size: 30;
    color: green;
    font-family: Courier New;

}

h3{
    font-size: 20;
    color: orange;
    font-family: Courier;
}

p{
    font-size: 15;
    color: yellow;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}
a{
    text-decoration: none;
    color: yellowgreen
}

#excite{
    font-size: 2em;
    color:red;
}


